<script type="text/javascript">
  var tl;
  var hiddenTracks = Array();

  function onLoad() {
    SimileAjax.History.enabled = false;

    var eventSource = new Timeline.DefaultEventSource();
    var zones = [
        {   start:    "<%= @start_time %>",
            end:      "<%= @end_time %>",
            magnify:  10,
            unit:     Timeline.DateTime.MINUTE,
            multiple: 10
        }
    ];

    var theme = Timeline.ClassicTheme.create(); // create the theme
        theme.timeline_start = new Date(Date.parse("<%= @start_time %>"));
        theme.timeline_stop  = new Date(Date.parse("<%= @end_time %>"));
        theme.event.track.height = 10;
        theme.event.tape.height = 10;
        theme.event.track.gap = 0;

    var bandInfos = [
        Timeline.createBandInfo({
            eventSource:    eventSource,
            timeZone:       -7,
            date:           "<%= @start_time %>",
            width:          "90%",
            theme:          theme, // Apply the theme
            intervalUnit:   Timeline.DateTime.HOUR,
            intervalPixels: 600,
        }),
        Timeline.createBandInfo({
            eventSource:    eventSource,
            timeZone:       -7,
            date:           "<%= @start_time %>",
            width:          "10%",
            intervalUnit:   Timeline.DateTime.DAY,
            intervalPixels: 600,
            layout:         'overview'
        })
    ];

    bandInfos[1].syncWith = 0;
    bandInfos[1].highlight = true;

    tl = Timeline.create(document.getElementById("my_timeline"), bandInfos);

    eventSource.loadJSON(<%= "#{@jobs}".html_safe %>, document.location.href);
  }

  var resizeTimerID = null;
  function onResize() {
      if (resizeTimerID == null) {
          resizeTimerID = window.setTimeout(function() {
              resizeTimerID = null;
              tl.layout();
          }, 500);
      }
  }

  function hideShowTrack(trackNumber) {
    var index = hiddenTracks.indexOf(trackNumber);
    if ( index < 0 ) { hiddenTracks.push(trackNumber); }
    else             { hiddenTracks.splice(index, 1);  }
  }

</script>

<%
  events_hash = JSON.parse(@jobs)

  jobs = {}

  track_number_counter = 1
  events_hash['events'].each do |event|
    cron = event['cron'] || '--'
    track_number = event['trackNum']
    color = event['color']
    unless jobs.include?(event['description'])
      jobs[event['description']] = {:cron => cron, :events => 0, :track => track_number, :color => color}
      track_number_counter += 1
    end
    if (event['description'].class == String && event['description'].match(/Every minute:/))
      jobs[event['description']][:events] = 24 * 60
      jobs[event['description']][:name] = event['description']
    else
      jobs[event['description']][:events] += 1
      jobs[event['description']][:name] = event['description'].join(' ')
    end
  end

  jobs = jobs.sort_by {|k, v| v[:track] }
%>

<h2>Scheduled Jobs</h2>
<div id='my_timeline' class='skid--timeline'>
</div>
<table class='skid skid--table'>
  <thead>
  	<tr>
      <!-- <th scope='col' class='skid'></th> -->
      <th scope='col' class='skid'></th>
      <th scope='col' class='skid'>name</th>
      <th scope='col' class='skid'>cron</th>
      <th scope='col' class='skid'>events</th>
      <!-- can put the track number back for debugging purposes if you want -->
      <!-- <th scope='col' class='skid'>track</th> -->
    </tr>
  </thead>
  <tbody>
    <% jobs.each do |k, v| %>
      <tr>
        <!-- <td><%= check_box_tag(v[:track], v[:track], true, :onclick=>"hideShowTrack(#{v[:track]});")%></td> -->
        <td class='skid--track_color' style="color:<%= v[:color] %>">&#10022</td>
        <td><%= k %></td>
        <td><div class='skid--cron'><a class='skid--cron'><%= "#{v[:cron]}".html_safe %></a></div></td>
        <!-- <td><div class='skid--cron'><a class='skid--cron' href="#" onclick="return alert(CronWTF.parse(' <%= "#{v[:cron].html_safe} #{v[:name].html_safe}".html_safe %> ' )[0])"><%= "#{v[:cron]}".html_safe %></a></div></td> -->
        <td><%= v[:events] %></td>
        <!-- can put the track number back for debugging purposes if you want -->
        <!-- <td><%= v[:track] %></td> -->
      </tr>
    <% end -%>
  </tbody>
</table>
<p class='skid'>more help with deciphering the cron format? see <a class='skid' href="http://cronwtf.github.io/">CronWTF!</a></p>
