<!DOCTYPE html>
<html>
<head>
  <title>Skidmarks</title>
  <%= stylesheet_link_tag "skidmarks.css", :media => "all" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tags %>
  <script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
</head>
<body  onload="onLoad();">
  <div class='skid--content'>
    <div class="skid--header">
      <h1>Skidmarks v<%= @skidmarks_gem_version %></h1>
    </div>
    <a href="#" class='skid'>link 1</a> | <a href="#" class='skid'>link 2</a>
    <br>
    <%= yield %>
  </div>
</body>
</html>